.doneBoard {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;

  height: 100%;
  width: 100%;
  z-index: 100;
  top: 0;
  left: 0;
}

.doneBoard > button {
  height: 100%;
  width: 100%;
  font-size: 100px;
  border: none;
  outline: none;
}

.doneBoard:hover > button {
  border-color: gray;
  opacity: 0;
  cursor: pointer;
}
