.parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 100%;
  aspect-ratio: 1 / 1;
  font-size: min(8vw, 8vh, 80px);
}

.isDone {
  position: absolute;
  background: red;
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.isDone > button {
  background-color: green;
  border-color: greenyellow;
}
