.slot {
  background-color: transparent;
  width: 100%;
  height: 100%;
  border: 2px solid white;
  text-align: center;
  font-size: 70%;
  padding: 0px;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
  outline: none;
  color: white;
}

.slot:focus {
  outline: none;
}

.slot.isDisabled,
.slot.isDisabled:hover {
  cursor: not-allowed;
  outline: none;
  opacity: 0.6;
  border-width: 1px;
  border-color: white;
}

.slot.isGameDone {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  opacity: 0.2;
}


.slot.empty:not(.slot.isDisabled):hover.xTurn {
  background-color: rgb(148, 0, 211);
  border-color: white;
}

.slot.empty:not(.slot.isDisabled):hover.oTurn {
  background-color: rgb(255, 140, 0);
  border-color: white;
}

.slot.x {
  background-color: rgb(148, 0, 211, 1);
  border-color: white;
}

.slot:active {
  transform: rotate(-20deg);
  outline: none;
}

.slot:nth-child(-n + 3):active {
  transform: rotate(20deg);
  outline: none;
}

.slot.o {
  background-color: rgb(255, 140, 0, 1);
  border-color: white;
}

@media (max-width: 60px), (max-height: 60px) {
  .slot {
    font-size: 0;
  }
}
